.wrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.heading {
  flex: 1 100%;
  text-align: center;
}

.dinner {
  flex: 1 40%;
  margin: 20px;
}

.notes {
  flex: 1 40%;
  margin: 20px;
}
