.wrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.heading {
  flex: 1 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.heading > * {
  margin: 0px;
  padding: 0px;
  font-size: 3rem;
}

.dinner {
  flex: 1 40%;
  margin: 20px;
}

.dinner h1 {
  font-size: 2.5rem;
}

.dinner p {
  font-size: 1.5rem;
}

.dinner li {
  font-size: 1.5rem;
}

.notes {
  flex: 1 40%;
  margin: 20px;
}

.notes h1 {
  font-size: 2.5rem;
  margin: 0px;
  padding: 0px;
}

.notes p {
  font-size: 1.5rem;
}

.dinnerName {
  display: flex;
}

.dinnerName > * {
  margin: 0px 10px;
}
