@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Just+Another+Hand&display=swap');

.wrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  color: white;
  padding-top: 70px;
}

.wrapper h1 {
  font-size: 6rem;
  font-family: 'Just Another Hand', cursive;
  color: lightskyblue;
  padding: 0px;
  margin: 0px;

}
.wrapper h2 {
  font-family: 'Amatic SC', cursive;
  font-size: 5rem;
  margin: 0px;
  padding: 0px;
}

.heading {
  flex: 1 100%;
  display: flex;
  flex-flow: row wrap;
  margin-bottom: 25px;
  align-items: center;
}

.headingMain {
  flex: 1 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}

.headingMain h1 {
  margin: 0px;
  padding: 0px;
}

.headingSub {
  flex: 1 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Shadows Into Light', cursive;
}

.heading h2 {
  color: lightyellow;
  margin: 0px;
  padding: 0px;
}


.dinner {
  flex: 1 100%;
  display: flex;
  flex-flow: row wrap;
}

.dinner h2 {
  color: lightcoral;
}

.dinner p {
  font-size: 1.5rem;
}

.dinner li {
  font-size: 1.5rem;
}

.dinnerHead {
  flex: 1 100%;
  display: flex;
  justify-content: center;
}

.dinnerName {
  flex: 1 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  text-align: center;
}

.dinnerName h3 {
  font-family: 'Shadows Into Light', cursive;
  font-size: 3rem;
  padding: 0px;
}

.dinnerName button {
  background: none;
	color: white;
	border: none;
	padding: 0;
  margin-left: 10px;
	font: inherit;
	cursor: pointer;
	outline: inherit;
  font-size: 1.5rem;
  height: 30px;
}

.dinnerDetails {
  flex: 1 100%;
  padding: 0px 50px;
  font-family: 'Amatic SC', cursive;
}

.dinnerDetails h4 {
  font-family: 'Amatic SC', cursive;

  font-size: 2rem;
  padding: 0px;
}

.dinnerDetails li {
  font-size: 2rem;
  line-height: 25px;
}

.dinnerDetails p {
  font-size: 2rem;
  line-height: 30px;
}

@media all and (orientation: landscape) {
  .wrapper {
    padding: 10px;
  }
  .headingMain {
    flex: 1 50%;
    justify-content: right;
    padding-right: 10px;
  }
  .headingSub {
    flex: 1 50%;
    justify-content: left;
    padding-left: 10px;
  }

  .dinnerHead {
    font-size: 6rem;
  }
  .dinnerName h3{
    font-size: 5rem;
  }

}

